:root {
  --text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --btntext-hover: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.current.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  visibility: visible;
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

.backdrop {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--btntext-hover);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}
.modal__btnclose {
  border-radius: 50%;
  background-color: var(--btntext-hover);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__btnclose:hover > svg, .modal__btnclose:focus > svg {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btnclose-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: ill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: ill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}
.modal__form {
  height: auto;
}
.modal__label {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  display: block;
}
.modal__input-container:hover > .modal__input, .modal__input-container:focus > .modal__input {
  border-color: var(--accent-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-container {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}
.modal__textarea-label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal__input-container:hover > svg, .modal__input-container:focus > svg {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input {
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal__input-icon {
  top: 0;
  left: 0;
  position: absolute;
  left: 12px;
  top: 11px;
}
.modal__textarea-container {
  margin-bottom: 20px;
}
.modal__textarea-container:hover > .modal__textarea, .modal__textarea-container:focus > .modal__textarea {
  border-color: var(--accent-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  width: 100%;
  resize: none;
  outline: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px;
}
.modal__checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__def-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin: 0;
  margin-bottom: 30px;
}
.modal__label-checkbox::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
.modal__def-checkbox:checked + .modal__label-checkbox::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/checked2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal__checkbox-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}
.modal__btnsubmit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btntext-hover);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.modal__btnsubmit:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.no-scroll {
  overflow: hidden;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover > .social__icon, .social__link:focus > .social__icon {
  fill: var(--btntext-hover);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  display: block;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  border-left: none;
  border-right: none;
  border-top: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 60px;
    margin: 0 auto;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    max-width: 768px;
    margin: 0 auto;
  }
}

.container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .container-head {
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-head {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container-head {
    max-width: 480px;
    position: relative;
    height: 60px;
    margin: 0 auto;
  }
}

.portfolio-header {
  border: 1px solid #ececec;
  border-left: none;
  border-top: none;
  border-right: none;
}

.logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-right: 88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}

.logo-styles {
  color: var(--accent-color);
  height: 31px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.portfolio-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.nav-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .contacts {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    margin-top: 21px;
    display: block;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.contact-link {
  height: 17px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-link {
    margin-bottom: 10px;
  }
}

.contact-link > .tel-styles {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-styles {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 135px;
  color: var(--secondary-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  width: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
}

.mail-styles:hover,
.mail-styles:focus {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.tel-styles {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  width: 142px;
  height: 16px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tel-styles:hover,
.tel-styles:focus {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--btntext-hover);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .mob-menu__container {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-menu__container {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mob-menu__container {
    width: 480px;
    margin: 0 auto;
    padding: 48px 40px;
  }
}

.mob-menu__btn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  z-index: 2;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .mob-menu__btn {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-menu__btn {
    display: none;
  }
}
.mob-menu__btn:hover, .mob-menu__btn:focus {
  fill: var(--accent-color);
}

.mob-menu__btn .mob-menu__icon-close {
  display: none;
}

.mob-menu__btn.is-open .mob-menu__icon-close {
  display: block;
}

.mob-menu__btn.is-open .mob-menu__icon-open {
  display: none;
}

.mob-menu__list {
  display: block;
}

.mob-menu__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__container--bottom {
  padding-bottom: 40px;
  position: absolute;
  bottom: 0;
}

.mob-menu__contacts {
  display: block;
  margin-bottom: auto;
}

.mob-menu__contacts__item:first-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-menu__contacts__item:last-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 64px;
}

.mob-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mob-menu__socials__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu__socials__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__current {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .main {
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main {
    max-width: 480px;
    margin: 0 auto;
  }
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/herobg.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/herobg.png);
    padding: 200px 0px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    margin: 0 auto;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/herobg-tab.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/herobg-tab.png);
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    max-width: 480px;
    margin: 0 auto;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/herobg-mob.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/herobg-mob.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container {
    max-width: 480px;
    margin: 0 auto;
  }
}

.hero-thumb {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1600px;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btntext-hover);
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-title {
    padding-top: 118px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-title {
    padding-top: 118px;
  }
}

.hero-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--btntext-hover);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin: 0 auto;
  display: block;
}

.hero-button:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .peculiarities {
    padding: 94px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities {
    padding: 60px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .peculiarities {
    max-width: 480px;
    padding: 60px 0;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities-container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-width: 320px) and (max-width: 767px) {
  .peculiarities-container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.peculiarities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .peculiarities-list {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities-list {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-item {
    width: 270px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities-item {
    width: 354px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .peculiarities-item {
    width: 100%;
  }
}

.peculiarities-box-icon {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities-box-icon {
    width: 354px;
  }
}

.peculiarities-icon {
  margin: auto;
}

.peculiarities-item > img {
  margin-bottom: 30px;
}

.peculiarities-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .peculiarities-title {
    text-align: center;
  }
}

.peculiarities-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin: 0;
}

.about {
  width: 1200px;
  height: 390px;
  margin: 0 auto;
  margin-bottom: 95px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.about-item {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.aboutimg-text {
  position: absolute;
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--btntext-hover);
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 25px;
}

.our-team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team {
    padding: 60px 0;
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team {
    padding: 60px 0;
    max-width: 768px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team .container {
    max-width: 480px;
  }
}
.our-team__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 0.8484848485;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 0.8484848485;
  }
}
.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__list {
    max-width: 768px;
  }
}
.our-team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--btntext-hover);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team__card {
    max-width: 480px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__card {
    height: 428px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team__card-img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__card-img {
    width: 354px;
  }
}
.our-team__card-title {
  padding-top: 30px;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team__card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin: 0;
  padding-bottom: 16px;
}
.our-team__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}
.our-team__soc-item {
  width: 44px;
  height: 44px;
}
.our-team__soc-item:not(:last-child) {
  margin-right: 10px;
}
.our-team__soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__soc-link:hover, .our-team__soc-link:focus {
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__soc-link:hover > .our-team__soc-icon, .our-team__soc-link:focus > .our-team__soc-icon {
  fill: var(--btntext-hover);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__soc-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .regular-container {
    padding: 60px 0;
    max-width: 480px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .regular {
    padding: 60px 0;
    max-width: 768px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .regular {
    padding: 94px 0;
    width: 1200px;
    margin: 0 auto;
  }
}

.regular-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .regular-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .regular-title {
    margin-bottom: 30px;
  }
}

.regular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .regular-list {
    height: 336px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .regular-list {
    height: 214px;
    width: 738px;
  }
}

.regular-item {
  width: 170px;
  height: 92px;
  margin: 0 auto;
  border: 1px solid #afb1b8;
  margin: 0;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .regular-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.regular-item:hover,
.regular-item:focus {
  border: 1px solid var(--accent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-link:hover > .regular-icon,
.regular-link:focus > .regular-icon {
  fill: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
}

.footer {
  background: #2f303a;
  height: 252px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-content {
  height: 132px;
  width: 231px;
  margin-right: 70px;
  padding-top: 50px;
}
.footer-content__logo {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--btntext-hover);
  width: 145px;
  height: 31px;
}
.footer-content__logo-styles {
  color: var(--accent-color);
}

.address__contacts {
  padding-bottom: 60px;
}

.address {
  width: 231px;
  height: 81px;
}
.address__link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btntext-hover);
  margin-bottom: 9px;
}
.address__mail {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  height: 21px;
  margin-bottom: 9px;
}
.address__mail:hover, .address__mail:focus {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__tel {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  height: 21px;
}
.address__tel:hover, .address__tel:focus {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-container {
  margin-right: 93px;
}

.social-container__title {
  padding-top: 60px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btntext-hover);
}

.invite {
  padding-top: 59px;
}
.invite__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btntext-hover);
  margin: 0;
  margin-bottom: 20px;
}
.invite__form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.invite__input {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  outline: none;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.invite__btn {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btntext-hover);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.invite__btn:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.invite__img {
  vertical-align: middle;
  margin-left: 9px;
}

@media screen and (min-width: 1200px) {
  .main-section-portfolio {
    padding: 94px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section-portfolio {
    padding: 60px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-section-portfolio {
    padding: 60px 0;
    width: 100%;
  }
}

.container-main {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .container-main {
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-main {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container-main {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.main-btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 34px;
}
@media screen and (min-width: 1200px) {
  .main-btn {
    width: 625px;
    margin: 0 auto;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-btn {
    width: 625px;
    margin: 0 auto;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-btn {
    width: 100%;
  }
}

.mainbtn {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: #212121;
  cursor: pointer;
  width: 130px;
  height: 40px;
}
.mainbtn:hover, .mainbtn:focus {
  color: var(--btntext-hover);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-filter {
  color: var(--btntext-hover);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.mainbtn-all {
  width: 75px;
}

.mainbtn-websites {
  width: 130px;
}

.mainbtn-app {
  width: 145px;
}

.mainbtn-design {
  width: 105px;
}

.mainbtn-marketing {
  width: 130px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .cards-container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards-container {
    width: 738px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards-container {
    width: 100%;
    margin: 0 auto;
  }
}

.main-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .main-cards {
    width: 1170px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-cards {
    width: 100%;
  }
}

.card {
  border: 1px solid #eeeeee;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .card {
    height: 404px;
    width: 370px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: calc((100% - 30px) / 2);
    height: 404px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card:nth-child(2) {
    height: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card:nth-child(1) {
    height: 440px;
  }
}

.card-animation {
  position: absolute;
  top: 0;
  margin: 0;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  color: var(--btntext-hover);
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card-animation, .card:focus .card-animation {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-pic {
    width: 100%;
    height: 294px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .card-pic {
    width: 100%;
  }
}

.text-card {
  width: 322px;
  padding: 20px 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text-card {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .text-card {
    width: 100%;
    padding: 20px 23px;
  }
}

.card-title-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: left;
  margin: 0;
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .card-title-portfolio {
    width: 322px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .card-title-portfolio {
    width: 100%;
  }
}

.card-text-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: left;
  margin: 0;
}/*# sourceMappingURL=main.css.map */