.about {
    width: 1200px;
    height: 390px;
    margin: 0 auto;
    margin-bottom: 95px;
}
.about-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
    margin-bottom: 50px;
}
.about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.about-item {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
}
.aboutimg-text {
    position: absolute;
    width: 370px;
    height: 70px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    color: var(--btntext-hover);
    bottom: 0;
    background: #2f303acc;
    padding: 25px;
}