.footer {
    background: #2f303a;
    @include desktop {
        height: 252px;
    }
    @include tablet {
        max-width: 1199px;
    }
    @include mobile {
        max-width: 767px;
    }
}
.footer-container {
    display: flex;
    @include desktop {
        width: 1200px;
        margin: 0 auto;
    }
    @include tablet {
        width: 768px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    @include mobile {
        max-width: 480px;
        flex-wrap: wrap;
        padding: 60px 0;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.footer-content {
    @include desktop {
    height: 132px;
    width: 231px;
    margin-right: 70px;
    padding-top: 50px;
    }
    @include tablet {
        width: 232px;
        display: block;
        margin-right: 165px;
        padding-top: 60px;
    }
    @include mobile {
        text-align: center;
        justify-content: center;
        width: 290px;
        margin: 0 auto;
        padding-bottom: 60px;
    }

    &__logo {
            display: block;
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            margin-bottom: 20px;
            color: var(--btntext-hover);
            height: 28px;
            @include tablet {
                text-align: center;
            }
        }
    &__logo-styles {
    color: var(--accent-color);
}
}
.address__contacts {
    @include desktop {
        padding-bottom: 60px;
    }
}

.address {
    width: 231px;
    @include mobile {
        margin: 0 auto;
    }
    &__link {
            display: block;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--btntext-hover);
            margin-bottom: 9px;
            text-align: center;
            height: 21px;
        }
        &__mail {
            @include tablet {
                text-align: center;
            }
            @include mobile {
                text-align: center;
            }
            display: block;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            width: 231px;
            height: 21px;
            margin-bottom: 8px;
        }
        &__mail:hover,
        &__mail:focus {
            color: var(--accent-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &__tel {
            @include tablet {
                    text-align: center;
                }
            
                @include mobile {
                    text-align: center;
                }
            display: block;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            width: 231px;
            height: 21px;
        }
    
        &__tel:hover,
        &__tel:focus {
            color: var(--accent-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.social-container {
    @include desktop {
        margin-right: 93px;
        padding-top: 72px; 
    }
    @include tablet {
        padding-top: 65px;
    }
    @include mobile {
        width: 206px;
        padding-bottom: 60px;
        margin: 0 auto;
    }
}
.social-container__title {
    @include desktop {
        margin: 0;
        margin-bottom: 20px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--btntext-hover);
    }
    @include tablet {
        margin: 0;
        margin-bottom: 20px;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--btntext-hover);
    }
    @include mobile {
        margin: 0;
            margin-bottom: 20px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--btntext-hover);
            text-align: center;
    }
}

.invite {
    @include desktop {
        padding-top: 72px;
    }
    @include tablet {
        padding: 60px 0;
        width: 450px;
    }
    @include mobile {
        width: 450px;
        margin: 0 auto;
    }
    &__title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--btntext-hover);
            margin: 0;
            margin-bottom: 20px;
            @include tablet {
                text-align: center;
            }
            @include mobile {
                text-align: center;
            }
        }
        &__input {
            @include tablet {
                margin-bottom: 20px;
                width: 100%;
            }
            @include mobile {
                width: 100%;
                margin-bottom: 20px;
            }
            margin-right: 12px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color: transparent;
            width: 358px;
            height: 50px;
            outline: none;
            padding-left: 16px;
            color: rgba(255, 255, 255, 0.75);
            box-sizing: border-box;
                }
        &__form {
            box-sizing: border-box;
            @include desktop {
                display: flex;
            }
        }
        &__btn {
            @include tablet {
                margin: 0 auto;
            }
            @include mobile {
                margin: 0 auto;
            }
            display: flex;
            justify-content: center;
            width: 200px;
            height: 50px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: var(--btntext-hover);
            background: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;
        }
        &__btn:hover {
            background-color: #188ce8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
        &__img {
            vertical-align: middle;
            margin-left: 9px;
        }
}