.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    @include desktop {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/herobg.png);
        padding: 200px 0px;
        max-width: 1600px;
    }
    @include tablet {
height: 400px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
        url(../images/herobg-tab.png);
    }
    @include mobile{
        height: 400px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
            url(../images/herobg-mob.png);
    }
}

.hero-title {
    font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 26);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
        padding-bottom: 30px;

    @include desktop {
padding-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btntext-hover);
    margin: 0;
    }
    @include tablet {
        padding-top: 118px;
    }
    @include mobile {
        padding-top: 118px;
    }
}

.hero-button {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--btntext-hover);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    margin: 0 auto;
    display: block;
}
.hero-button:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-thumb {
    padding-left: 15px;
    padding-right: 15px;
}