.peculiarities {
    
    @include desktop {
        padding: 94px 0;
}
    @include tablet {
        padding: 60px 0;
    }
    @include mobile {
        width: 100%;
        padding: 60px 0;
        margin: 0 auto;
        padding-left: 15px;
            padding-right: 15px;
    }
}
.peculiarities-container {
    @include desktop {
        width: 1200px;
        margin: 0 auto;
    }
    @include tablet {
        width: 768px;
        margin: 0 auto;
        @include mobile {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
    }
}
.peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop {
        width: 1170px;
        margin: 0 auto;
    }
    @include tablet {
    }

}
.peculiarities-item {
    @include desktop {
        width: 270px;
    }
    @include tablet {
            width: 354px;
        }
    @include mobile {
        width: 100%;
    }
}
.peculiarities-box-icon {
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    @include tablet {
            width: 354px;
        }
}
.peculiarities-icon {
    margin: auto;
}
.peculiarities-item>img {
    margin-bottom: 30px;
}
.peculiarities-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: 0;
    margin-bottom: 10px;
    @include mobile {
        text-align: center;
    }
}

.peculiarities-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin: 0;
}