.main {
    @include desktop {
    }
    @include tablet {
    }
}
.main-section-portfolio {
    @include desktop {
        padding: 94px 0;
    }
    @include tablet {
        padding: 60px 15px;
    }
    @include mobile {
        padding: 60px 15px;
        width: 100%;
    }
}
.container-main {
    margin: 0 auto;
    @include desktop {
            width: 1200px;
            margin: 0 auto;
        }
    @include tablet {
        width: 100%;
        margin: 0 auto;
    }
    @include mobile {
        max-width: 480px;
        margin: 0 auto;
    }
}
.main-btn {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 34px;
    @include desktop {
        width: 625px;
        margin: 0 auto;
        margin-bottom: 34px;
    }
    @include tablet {
        width: 625px;
        margin: 0 auto;
        margin-bottom: 14px;
    }
    @include mobile {
        width: 100%;
    }
}
.mainbtn {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #f5f4fa;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: #212121;
    cursor: pointer;
    width: 130px;
    height: 40px;
    &:hover,
    &:focus {
            color: var(--btntext-hover);
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.current-filter {
    color: var(--btntext-hover);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.mainbtn-all {
    width: 75px;
}
.mainbtn-websites {
    width: 130px;
}
.mainbtn-app {
    width: 145px;
}
.mainbtn-design {
    width: 105px;
}
.mainbtn-marketing {
    width: 130px;
}
.cards {
    @include mobile {
        margin: 0 auto;
        
    }
}
.cards-container {
    @include desktop {
        width: 1200px;
        margin: 0 auto;
    }
    @include tablet {
        width: 738px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include mobile {
        width: 100%;
        margin: 0 auto;
    }
}
.main-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    @include desktop {
width: 1170px;
    }
    @include mobile {
        width: 100%;
    }
}
.card {
    border: 1px solid #eeeeee;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        @include mobile {
            max-width: 480px;
        }
        @include tablet {
            width: calc((100% - 30px) / 2);
            height: 404px;
        }
        @include desktop {
            height: 404px;
            width: 370px;
        }
}
.card:nth-child(2) {
    @include tablet {
        height: 440px;
    }
}
.card:nth-child(1) {
    @include tablet {
        height: 440px;
    }
}
.card:nth-child(2) {
    @include mobile {
        height: 383px;
    }
}
.card-animation {
    position: absolute;
    top: 0;
    margin: 0;
    background: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;
    color: var(--btntext-hover);
    font-family: "Roboto";
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .card:hover &,
    .card:focus & {
        transform: translateY(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.card-thumb {
    position: relative;
    overflow: hidden;
}
.card-pic {
    @include tablet {
        width: 100%;
        height: 294px;
    }
    @include mobile {
        width: 100%;
    }
}
.text-card {
    width: 322px;
    height: 110px;
    padding: 20px 24px;
    @include tablet {
        width: 100%;
    }
    @include mobile {
        width: 100%;
        padding: 20px 23px;
    }
}
.card-title-portfolio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    text-align: left;
    margin: 0;
    margin-bottom: 4px;
    @include desktop {
        width: 322px;
    }
    @include mobile {
        width: 100%;
    }
}
.card-text-portfolio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: left;
    margin: 0;
}