.main-section-portfolio {
    padding-bottom: 95px;
}

.container-main {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-btn {
    height: 55px;
    margin-top: 95px;
    margin-bottom: 30p;
    text-align: center;
    margin-bottom: 30px;
}

.mainbtn-item {
    display: inline;
}

.mainbtn-item:not(:last-child) {
    margin-right: 10px;
}

.mainbtn {
    background: #f5f4fa;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: #212121;
    cursor: pointer;
    width: 130px;
    height: 40px;
}

.mainbtn:hover,
.mainbtn:focus {
    color: var(--btntext-hover);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-filter {
    color: var(--btntext-hover);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.mainbtn-all {
    width: 75px;
}

.mainbtn-websites {
    width: 130px;
}

.mainbtn-app {
    width: 145px;
}

.mainbtn-design {
    width: 105px;
}

.mainbtn-marketing {
    width: 130px;
}

.cards {
    margin: 0 auto;
}

.main-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.card {
    display: inline-block;
    width: 370px;
    height: 405px;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    margin-right: 30px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:nth-child(3n) {
    margin-right: 0px;
}

.card:nth-child(n + 6) {
    margin-bottom: 0;
}

.card:last-child {
    margin: 0;
}

.card:hover,
.card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-animation {
    position: absolute;
    top: 0;
    margin: 0;
    background: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;
    color: var(--btntext-hover);
    font-family: "Roboto";
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-animation,
.card:focus .card-animation {
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.text-card {
    width: 322px;
    height: 70px;
    padding: 20px 24px;
}

.card-title-portfolio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    text-align: left;
    margin: 0;
    margin-bottom: 4px;
    width: 322px;
}

.card-text-portfolio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: left;
    margin: 0;
}