.regular {
}
.regular-container {
    @include mobile {
        padding: 60px 0;
        max-width: 480px;
        margin: 0 auto;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@include tablet {
    padding: 60px 0;
    max-width: 768px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
}

@include desktop {
    padding: 94px 0;
    width: 1200px;
    margin: 0 auto;
}
.regular-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
    margin-bottom: 50px;
    @include mobile {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: calc(33 / 28);
    }
    @include tablet {
        margin-bottom: 30px;
    }
}
.regular-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 92px;
    justify-content: center;
    @include mobile {
        height: 336px;
    }
    @include tablet {
        height: 214px;
        width: 738px;
    }
}
.regular-item {
    width: 170px;
    height: 92px;
    margin: 0 auto;
    border: 1px solid #afb1b8;
    margin: 0;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include mobile {
        flex-basis: calc((100% - 30px) / 2);
    }
}
.regular-item:hover,
.regular-item:focus {
    border: 1px solid var(--accent-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-link:hover>.regular-icon,
.regular-link:focus>.regular-icon {
    fill: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
}