.our-team {
    background: #f5f4fa;
    padding-bottom: 94px;
    padding-top: 95px;
    &__title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            margin: 0;
            margin-bottom: 50px;
        }
        &__list {
            display: flex;
            margin-top: 50px;
            margin: 0 auto;
            justify-content: center;
        }
    
        &__card {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            background-color: var(--btntext-hover);
            height: 428px;
        }
    
        &__card:not(:last-child) {
            margin-right: 30px;
        }
    
        &__card-title {
            padding-top: 30px;
            margin: 0;
            margin-bottom: 10px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
        }
    
        &__card-text {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--secondary-text-color);
            margin: 0;
            padding-bottom: 16px;
        }
    
        &__soc-list {
            display: flex;
            justify-content: center;
        }
    
        &__soc-item {
            width: 44px;
            height: 44px;
        }
    
        &__soc-item:not(:last-child) {
            margin-right: 10px;
        }
    
        &__soc-link {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__soc-link:hover,
        &__soc-link:focus {
            background-color: var(--accent-color);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__soc-link:hover>.our-team__soc-icon,
        &__soc-link:focus>.our-team__soc-icon {
            fill: var(--btntext-hover);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__soc-icon {
            fill: #afb1b8;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}




