body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}

ul {
    padding-inline-start: 0px;
    margin: 0px;
    padding: 0px;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style-type: none;
}